/*variable declarations */
:root {
  --darkest-grey: #1f253d;
  --dark-grey: #394264;
  --medium-grey: #50597b;
  --light-grey: #7d86a5;
  --modal-grey: #535353;
  --tile-grey: #d8d8d8;
  --grey-divider: #2b334f;
  
  --icon-grey: #7d87a4;
  
  --dark-blue: #1a4e95;
  --mid-blue: #3468af;
  --light-blue: #4fc4f6;
  --lightest-blue: #35aadc;
  
  --grey-line-top: #646D8C;
  --grey-line-bottom: #97A0BF;
    
  --orange: #fcb150;
  
  --dark-red: #cc324b;
  --light-red: #e64c65;
  
  --green: #11a8ab;
  
    /*Original colours */
  --original-grey-text: #BFBFBF;
  --original-blue: #29ace4;
  --original-tile-green: #03dbd6;
  --original-tile-blue: #00b0f0;
  --original-red: red;

}

/* orbitron-regular - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'),
       url('../css/fonts/orbitron-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../css/fonts/orbitron-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: var(--darkest-grey);
  font-family:'Orbitron';
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.container {
  margin: auto 8px; ;
  text-align: center;
}

.title {
  font-size: 28px;
  background-color: var(--dark-blue);
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 span {
	//color: var(--original-blue);
}

.heading {
	margin: 20px;
	margin-top:40px;
	margin-bottom:40px;
}

.smallheading {
	font-size: 8px;
	padding-bottom:10px;
}

.logo {
	width: 24px;
	position: relative;
	top: 1px;
    padding-left: 3px;
    padding-right: 2px
}

.square {
	width:125px;
	height:125px;
	background: var(--light-grey);
	position: relative;
	display: inline-block;
	border-radius: 6px;
	//border: 2px solid var(--mid-blue);
}

.smallsquare {
	width:80px;
	height:80px;
	background: var(--dark-grey);
	position: relative;
	display: inline-block;
	border-radius: 6px;    
    margin-left: 3px;
    margin-right: 3px;
}

.rectangle {
	width:100%;
	height:100px;
	padding-top:10px;
	padding-bottom:20px;
	margin-top:20px;
	background: var(--medium-grey);
	position: relative;
	display: inline-block;
	border-radius: 6px;
}

.icon {
	margin-top:20px;
	margin-bottom:20px;
}

.icon img {
	width: 60%;
}

.smallicon img {
	width: 60%;
}

.centre {
    margin:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}

.bottom {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 185%;
}

.smalltext {
	font-size:10px;
}

.right {
	text-align: right;
	padding-right: 10px;
}

.modal {
	display:none;
	position:fixed;
	z-index: 2;
	padding-top: 50%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

/*.pause-modal {
	display:none;
	position:fixed;
	z-index: 2;
	padding-top: 50%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}*/

.gameOverModal {
	display:none;
	position:fixed;
	z-index: 2;
	padding-top: 50%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.modal-content {
	position: relative;
	background-color: var(--modal-grey);
	margin: auto;
	padding: 20px;
	border-radius: 6px;
	text-align: center;
	width: 230px;
	height: 230px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-title {
	font-size: 20px;
}

.modal-text {
	font-size: 12px;
	line-height: 20px;
	position: absolute;
	top: 35%;
	margin-left: auto;
	margin-right: auto;
	left: 10px;
	right: 10px;
}

#tutorial-buttons {
	position: absolute;
	bottom: 10%;
	margin-left: auto;
	margin-right: auto;
	left: 8px;
	right: 8px;
}

button {
	margin-right: 12px;
    margin-left: 12px;
    padding: 6px;
    font-family: inherit;
    font-size: 20px;
    width: 80px;
	border: none;
	border-radius: 6px;
	color:white;
}

#affirm {
	background-color: var(--green);
}

#okay {
	background-color: var(--green);
}

#deny {
	background-color: var(--dark-red);
}

#retry {
	background-color: var(--dark-red);
}
.super-container {
	background: var(--light-grey);
	border-radius: 5px;
	margin: 0 auto;
	min-width: 200px;
}

.game-container {
  display: none;
  position: relative;
  padding: 12px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0px auto;
}

.levels-table {
	font-size: 10px;
}

#totalDiv {
	margin: 10px;
	margin-bottom: 20px;
	text-align: right;
	
}

.slick-slide:focus { 
	outline: none; 
}

#moves-slider {
	margin: 10%;
    margin-top: 25px;
}

/*****OLD CSS BELOW HERE*******/

.vaults td {
	font-size: 14px;
}

.star-row td {
	padding-bottom: 30px;
}

.vault-row td {
	padding-bottom: 30px;
}

.levels {
	font-size: 14px
}

.star {
	position: relative;
	width: 16px;
	display: inline-block !important;
	top: 3px;
}

.level-img-row img {
	width: 32px;
	margin: 0px auto;
}

.level-selector {
	display : inline-block;
}

.level-selector span{
  font-size: 14px;
}

.leaderboard span{
    font-size: 12px;
    overflow-wrap: break-word;
}

.control-container {
	display: none;
}

#move-text {
	//font-size: 8px;
}

#move-num::before {
	content: " ";
}

.pause {
	margin-right: 28px;
}

.controls-lower {
	display : none;
	border-radius: 6px;
	min-width: 200px;
	padding: 10px;
	margin-bottom: 12px;
	background-color: var(--dark-grey);
}

.lines-container {
    position: relative;
    top: 14px;
    left: 0px;
    z-index: 1;
}

.vertical-lines-container {
    position: absolute;
    top:10px;
    left: 6px;
    z-index: 1;
    float: left;
}

.vertical-line {
    width: 0px;
    border: none;
    border-left: 2px solid var(--grey-line-top);
    border-right: 2px solid var(--grey-line-bottom);
    margin: 27px;
    display: inline-block;
}

.diagonal-left-lines-container {
    position: absolute;
    top: 8px;
    left: 4px;
    z-index: 1;
    float: left;
}

.diagonal-right-lines-container {
    position: absolute;
    top:10px;
    left: 4px;
    z-index: 1;
    float: left;
}

.diagonal-left-line {
    position: absolute;
    top: 0px;
    width: 0px;
    border: none; 
    border-left: 2px solid var(--grey-line-top);
    border-right: 2px solid var(--grey-line-bottom);
    margin: 29px;
    display: inline-block;
    transform: rotate(45deg);
	transform-origin: 0% 0%;
}

.diagonal-right-line {
    position: absolute;
    top: 0px;
    width: 0px;
    border: none;
    border-left: 2px solid var(--grey-line-top);
    border-right: 2px solid var(--grey-line-bottom);
    margin: 29px;
    display: inline-block;
    transform: rotate(-45deg);
	transform-origin: 0% 0%;
}

/*.controller {
  background: #27aae0;
  width: 46px;
  height: 46px;
  margin: 2px;
  color: white;
  display: inline-block;
  border-radius:3px;
  font-weight: bold;
}*/

.moves-label {
  /*padding-bottom: 5px;
  font-size: 12px;
  line-height: 22px;
  color: #00b0f0;
  right: -8px;
  position: absolute;*/
  font-size:14px;
  position: relative;
  top : -8px;
}

.level-number {
    line-height: 24px;
}

@keyframes restart-anim {
    0% {
		-webkit-transform: scale(1,1);
		-moz-transform: scale(1,1);
		transform: scale(1,1);
    }
    50% {    	
		-webkit-transform: scale(1.5,1.5);
		-moz-transform: scale(1.5,1.5);
		transform: scale(1.5,1.5);
    }
    100% {
		-webkit-transform: scale(1,1);
		-moz-transform: scale(1,1);
		transform: scale(1,1);
    }
}

.restart {
	animation-name: restart-anim;
	animation-duration: 1.5s;
}

.restart-img {
	padding: 0 !important;
	position: absolute;
	left:0;
	top:0;
}

.restart-container {
	display: inline-block;
}

#restart-div {
	display: inline;
    position: relative;
    right: -105px;
    bottom: 5px;
}

.restart-container img {
	//width: 24px;
	position: relative;
    //top: 5px;
	//right: -18px;
	height:	32px;
	width: 32px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65;
}

strong.important {
  text-transform: uppercase;
}

.horizontal-line {
  	border: none;
	border-top: 2px solid var(--grey-line-top);
	border-bottom: 2px solid var(--grey-line-bottom);
	margin-bottom: 54px;
}

.grid-container {
  position: absolute;
  z-index: 1;
}

.grid-row {
  margin-bottom: 12px;
}
.grid-row:last-child {
  margin-bottom: 0;
}
.grid-row:after {
  content: "";
  display: block;
  clear: both;
}

.grid-cell {
  width: 46px;
  height: 46px;
  margin-right: 12px;
  float: left;
  border-radius: 50%;
  background: rgba(129, 99, 70, 0.25);
}
.grid-cell:last-child {
  margin-right: 0;
}

.tile-container {
  position: absolute;
  z-index: 2;
}

.tile.tile-position-1-1 {
  position: absolute;
  left: 0px;
  top: 0px;
}
.tile.tile-position-1-2 {
  position: absolute;
  left: 0px;
  top: 58px;
}
.tile.tile-position-1-3 {
  position: absolute;
  left: 0px;
  top: 116px;
}
.tile.tile-position-1-4 {
  position: absolute;
  left: 0px;
  top: 174px;
}
.tile.tile-position-1-5 {
  position: absolute;
  left: 0px;
  top: 232px;
}
.tile.tile-position-2-1 {
  position: absolute;
  left: 58px;
  top: 0px;
}
.tile.tile-position-2-2 {
  position: absolute;
  left: 58px;
  top: 58px;
}
.tile.tile-position-2-3 {
  position: absolute;
  left: 58px;
  top: 116px;
}
.tile.tile-position-2-4 {
  position: absolute;
  left: 58px;
  top: 174px;
}
.tile.tile-position-2-5 {
  position: absolute;
  left: 58px;
  top: 232px;
}
.tile.tile-position-3-1 {
  position: absolute;
  left: 116px;
  top: 0px;
}
.tile.tile-position-3-2 {
  position: absolute;
  left: 116px;
  top: 58px;
}
.tile.tile-position-3-3 {
  position: absolute;
  left: 116px;
  top: 116px;
}
.tile.tile-position-3-4 {
  position: absolute;
  left: 116px;
  top: 174px;
}
.tile.tile-position-3-5 {
  position: absolute;
  left: 116px;
  top: 232px;
}
.tile.tile-position-4-1 {
  position: absolute;
  left: 174px;
  top: 0px;
}
.tile.tile-position-4-2 {
  position: absolute;
  left: 174px;
  top: 58px;
}
.tile.tile-position-4-3 {
  position: absolute;
  left: 174px;
  top: 116px;
}
.tile.tile-position-4-4 {
  position: absolute;
  left: 174px;
  top: 174px;
}
.tile.tile-position-4-5 {
  position: absolute;
  left: 174px;
  top: 232px;
}
.tile.tile-position-5-1 {
  position: absolute;
  left: 232px;
  top: 0px;
}
.tile.tile-position-5-2 {
  position: absolute;
  left: 232px;
  top: 58px;
}
.tile.tile-position-5-3 {
  position: absolute;
  left: 232px;
  top: 116px;
}
.tile.tile-position-5-4 {
  position: absolute;
  left: 232px;
  top: 174px;
}
.tile.tile-position-5-5 {
  position: absolute;
  left: 232px;
  top: 232px;
}

.tile {
  width: 46px;
  height: 46px;
  line-height: 54px;
  border-radius: 50%;
  background-color: #00b0f0;
  text-align: center;
  z-index: 10;
  font-size: 22px;
  box-shadow: 0 3px 6px #000000;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -webkit-transition-property: top, left;
  -moz-transition-property: top, left;
}

.tile:active {
	background-color: #002060;
}

.tile-merged {
  z-index: 20;
 /* -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;*/
}

.pair {
	background-color: #03dbd6;
}

.end {
	background-color: var(--dark-red);
}

.game-explanation {
  margin-top: 12px;
}

.tile-tick:before {
	content:url("../img/Tick2NoCircle.svg");
	line-height: 65px;
}

/* 0 (aka complete) tile state */
.tile-complete{
	background: var(--tile-grey);
	//border: 1px solid #0088b8;
	box-shadow: 0 0px 0px #000000;
}

table {
	margin: 0px auto;
	width: 100%;
}

.modal-over {
	display:none;
	position:fixed;
	z-index: 2;
	padding-top: 240px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.tutorial {
	display:none;
	position:fixed;
	z-index: 2;
	padding-top: 240px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.tutorial-modal {
	position: relative;
	margin: auto;
	padding: 20px;
	font-size: 14px;
	border-radius: 10px;
	background-color: #00b0f0;
	color: white;
	text-align: center;
	width: 224px;
	height: 120px;
	box-shadow: 0 3px 6px #000000;
}

.incorrect-tutorial-modal {
	position: relative;
	margin: auto;
	padding: 20px;
	font-size: 14px;
	border-radius: 10px;
	background-color: red;
	color: white;
	text-align: center;
	width: 224px;
	height: 140px;
	box-shadow: 0 3px 6px #000000;
}

.info-box {
	position: relative;
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	font-size: 16px;
	border-radius: 10px;
	background-color: #00b0f0;
	color: white !important;
	text-align: center;
	width: 200px;
	height: 80px;
	box-shadow: 0 3px 6px #000000;
}

.congrats-box {
	position: relative;
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	font-size: 16px;
	border-radius: 10px;
	background-color: #00b0f0;
	color: white !important;
	text-align: center;
	width: 200px;
	height: 80px;
	box-shadow: 0 3px 6px #000000;
}

.vault-open-modal {
	position: relative;
	background-color: white;
	margin: auto;
	padding: 20px;
	font-size: 14px;
	border-radius: 10px;
	color: #00b0f0;
	text-align: center;
	width: 285px;
	height: 140px;
	box-shadow: 0 3px 6px #000000;
}

.game-complete-modal {
	position: relative;
	background-color: #00b0f0;
	margin: auto;
	padding: 20px;
	font-size: 14px;
	border-radius: 10px;
	color: white;
	text-align: center;
	width: 285px;
	height: 140px;
	box-shadow: 0 3px 6px #000000;
}

.score-container{
	position: relative;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: -20px;
	left: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pauseClose {
	color: black;
}

.count {
	font-weight: bold;
}

.vault-img {
	width: 60px;
	margin: 0px auto;
	padding-top: 12px;
	//-webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.7)));
}

.operation-img {
	width: 25px;
}

.current-level {
	display: inline-block;
}

.pause-img {
	padding: 2px;
	vertical-align: middle;
	width: 24px;
	//margin-left: 12px;
    margin-right: 8px;
}

.tick-img {
	display: inline !important;
	vertical-align: middle;
	width: 34px;
}

.pause img{
	width: 32px;
	//vertical-align:middle;
}

.pause-item {
	font-size: 14px;
	padding-bottom: 6px;
}


.pie {
    width: 38px;
    height: 38px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: white;
    float: left;
    /* margin: 4px; */
    top: 7px;
    left: 8px;
    z-index: 1;
}

.block{
    position:absolute;
    background:#fff;
    width:30px;
    height:30px;
    border-radius:50%;
    top:11%;
    left:11%;
}
#time{
  position:absolute;
  top:32%;
  left:22%;
  color: #27aae0;
  font-size:8pt;
}
.degree{
      background-image:
        linear-gradient(90deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}

.object {
	position: relative; 
	width: 28px; 
	bottom: 25px; 
	right: 20px;
	z-index: 2;
}

.object2 {
	position: relative; 
	width: 28px; 
	bottom: 25px; 
	left: 60px;
	z-index: 2;
}

.object3 {
	position: relative; 
	width: 28px; 
	bottom: 115px; 
	right: 55px;
	z-index: 2;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.object4 {
	position: relative; 
	width: 28px; 
	bottom: 115px; 
	right: 55px;
	z-index: 2;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.horizTranslate {
	
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	
	-webkit-animation: mymove 1s ease-in;
	animation: mymove 1s;
	
	-webkit-animation-iteration-count: 3;	
    animation-iteration-count: 3;
}

.horizTranslate2 {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	
	-webkit-animation: mymove2 1s ease-in;
	-webkit-animation-iteration-count: 3;
	animation: mymove2 1s;
    animation-iteration-count: 3;
}

.horizTranslate3 {
	/*-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);*/
	-webkit-animation: mymove3 1s ease-in;
	-webkit-animation-iteration-count: 3;
	
	animation: mymove3 1s;
    animation-iteration-count: 3;
}

.horizTranslate4 {
 	/*-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);*/
	-webkit-animation: mymove4 1s ease-in;
	-webkit-animation-iteration-count: 3;
	
	animation: mymove4 1s;
    animation-iteration-count: 3;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: -25px;}
    to {left: 30px;}
} 

/* Safari 4.0 - 8.0 */
@-moz-keyframes mymove {
    from {left: -25px;}
    to {left: 30px;}
} 

/* Safari 4.0 - 8.0 */
@-o-keyframes mymove {
    from {left: -25px;}
    to {left: 30px;}
} 

@keyframes mymove {
    from {left: -25px;}
    to {left: 30px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove2 {
    from {left: 60px;}
    to {left: 0px;}
} 

@keyframes mymove2 {
    from {left: 60px;}
    to {left: 0px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove3 {
    from {bottom: 115px;}
    to {bottom: 50px;}
} 

@keyframes mymove3 {
    from {bottom: 115px;}
    to {bottom: 50px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove4 {
    from {bottom: 115px;}
    to {bottom: 50px;}
} 

@keyframes mymove4 {
    from {
    	bottom: 115px;
    	right: 55px;
    }
    to {
    	bottom: 45px;
    	right: -25px;
    }
}

.left {
	text-align:left;
}

.inline {
  display: inline-block;
}

.slick-next {
	right: 25px !important;
	top: 45% !important;
	z-index: 1;
}

.slick-prev {
	left: 25px !important;
	top: 45% !important;
	z-index: 1;
}

.levelsTest {
	margin-top: 30px;
	font-size: 14px;
}

.slider {
	font-size: 16px;
	//margin-bottom: 15px !important;
}

.slider .slick-center img{
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-o-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}
.slider .slick-center span{
	font-size:16px;
	padding-bottom: 12px;
	white-space: nowrap;
}

.slider img{
	-moz-transform:scale(0.75);
	-ms-transform:scale(0.75);
	-o-transform:scale(0.75);
	-webkit-transform:scale(0.75);
	transform:scale(0.75);
	transition:all 300ms ease;
}
.slider span{
	font-size: 12px;
	padding-bottom: 12px;
	white-space: nowrap;
}

.slider .slick-list {
	padding: 10px 10px !important;
}

hr{
   border-top: 2px solid #060C24;
   border-bottom: 2px solid #393F57;
}

.slick-dots {
	bottom: 0px !important;
	z-index: 0 !important;
}

.slick-prev:before, .slick-next:before {
	color: var(--original-blue) !important;
	font-size: 25px !important;
}

.explanation {
	font-size: 12px !important;
	white-space: normal !important;
}

.slider .explanation {
	display:none;
}

.slider .slick-center .explanation {
	display: block;
}

.slider .status {
	display:none;
}

.slider .star {
	display:none !important;
}

.slider .slick-center .status {
	display: inline-block;
	font-size: 11px !important;
	white-space: normal !important;
}

.slider .slick-center .star {
	display:inline-block !important;
	margin-left: 4px;
	width: 12px;
}

#testingControls {
	margin-top: 30px;
}

svg image{
	fill: red;
}

.transparent {
	background-color: rgba(0,0,0,0.6);
}

#gameOverContent {
	height: 190px !important;
}

#starCounter {
	display:none;
	min-width: 200px;
    //position: relative;
    //bottom: 10px;
    height: 40px;
    background: var(--dark-grey);
    margin: auto;
    margin-top: 60px;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

#starCounter .star{
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    top: 0;
}
.starFade {
    opacity: 1;
    animation: fade 3s ease-in-out;
}


@keyframes fade {
  0% { opacity: 0 }
  50% { opacity: 0.5 }
  100% { opacity: 1; width:40px; }
}

#starsCollected img {
	opacity: 0;
	-webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
}

#starsCollected img.load {
    opacity: 1;
}

a
{
  text-decoration: none;
  //color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#hamburger-div {
	display: none;
	position: absolute;
	left: 15px;
	top: 15px;
}

#menuToggle
{
  display: block;  
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 4; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--original-blue);
  border-radius: 3px;
  z-index: 3;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--original-blue);;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 150px;
  margin: -100px 0 0 -15px;
  padding-left: 45px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 110px;
  
  background: white;
  color: var(--medium-grey);
  //background: var(--medium-grey);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  z-index: 2;
}

#menu li
{
  padding: 10px 0;
  font-size: 12px;
  transition: color 0.3s ease;
  cursor: pointer;
}

#menu li:hover
{
  color: tomato;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}